<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <!-- Custom Theme files -->
    <script type="text/javascript"  src="login/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="login/jq%20va/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="login/jq%20va/dist/localization/messages_zh.js"></script>
    <script type="text/javascript" src="login/register1.check.js"></script>
    <link href="login/style2.css" rel="stylesheet" type="text/css" media="all"/>

    <!-- Custom Theme files -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <!--Google Fonts-->
    <link href='http://fonts.useso.com/css?family=Roboto:500,900italic,900,400italic,100,700italic,300,700,500italic,100italic,300italic,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <!--Google Fonts-->
    <style>
        .error{
            font-size: 12px;
            color: red;
        }
    </style>
</head>
<body>
<div class="login">
    <h2>Acced Form</h2>
    <div class="login-top">
        <h1>注册账号</h1>
        <form id="register1Form" action="login.html" method="post">
            <p><input type="text" placeholder="用户名(字母和数字)"  maxlength="16" tabindex="1" id="name" name="name"></p>
            <p><input type="password" placeholder="请输入密码"  maxlength="16" tabindex="2" id="sct" name="sct"></p>
            <p><input type="password" placeholder="确认密码"  maxlength="16" tabindex="3" id="resct" name="resct" ></p>
            <div class="forgot">
                <input type="submit" value="完成">
            </div>
        </form>
    </div>
    <div class="login-bottom">
        <h3>如果有账号请直接&nbsp<a href="login.html">登陆</a></h3>
    </div>
</div>



</body>
</html>